* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  div {
    flex: 1;
    text-align: center;
  }
}
